/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 2rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 2rem;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 1rem;
  width: 12%;
  margin: 3rem auto 1rem auto;
}
/*
div {
  background-color: #74c7b8;
}
*/
.topContainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 6rem;
}

.middleContainer {
  margin: 4rem auto;
}

.bottomContainer {
  background-color: #66BFBF;
  padding: 2.5rem 0 0.7rem;
}

/*
#box {
  display: block;
  position: absolute;
  background-color: #FFF;
}
*/

.intro {
  width: 30%;
  margin: auto;
}

.bottomCloud {
  position: absolute;
  right: 770px;
  bottom: 300px;
}

.topCloud {
  position: absolute;
  left: 800px;
  top: 70px;
}

.skillRow1 {
  margin: 6rem auto;
  width: 50%;
  text-align: left;
}

.skillRow2 {
  margin: 6rem auto;
  width: 50%;
  text-align: right;
}

.myFaceImage {
  width: 25%;
  margin-top: 2rem;
}

.pcImage {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.reactImage {
  width: 25%;
  float: right;
  margin-left: 2rem;
}

.tradeMark {
  color: #EAF6F6;
}

.button {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #EAF6F6;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 50px;
   padding: 20px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
